<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Trackk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full">
    <%= render "shared/navbar" %>
    <div class="h-full <%= "mx-auto pt-10 max-w-7xl" if current_user %>">
      <%= yield %>
    </div>
  </body>
</html>
